* {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote {
    margin: 0;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: inherit;
}
