.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 736px;
  margin-inline: auto;
}
body {
  background-color: hsl(30, 54%, 90%);
  padding-block: 128px;
}
main {
  background-color: #fff;
  padding: 40px;
  border-radius: 24px;
}
img {
  display: block;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 40px;
}

.first-section {
  margin-bottom: 32px;
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #312e2c;
    margin-bottom: 24px;
  }
  p {
    /* width: 656px; */
    /* background-color: #ffc4c4; */
    /* height: 48px; */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5f564d;
  }
}

.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  /* width: 656px; */
  /* height: 172px; */
  background: #fff7fb;
  border-radius: 12px;
  margin-bottom: 32px;
  h2 {
    /* width: 608px; */
    /* height: 20px; */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #7a284e;
    /* margin-bottom: 16px; */
  }
  ul {
    li {
      font-family: "Outfit";
      font-style: normal;

      font-size: 16px;
      line-height: 150%;
      margin-bottom: 8px;
      color: #5f564d;
      padding-left: 40px;
      /* background-color: #b2b2b2; */
      position: relative;
    }
    li::before {
      content: "";
      width: 4px;
      height: 4px;
      background-color: #7a284e;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 8px;
      border-radius: 50%;
      transform: translateY(-50%);
    }
    span {
      font-weight: 700;
    }
  }
}

.third {
  margin-bottom: 32px;
  h2 {
    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #854632;
    margin-bottom: 24px;
  }
  ul {
    li {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #5f564d;
      margin-bottom: 8px;
    }
    
  }
}
hr {
  margin-bottom: 32px;
}
.fourth {
  margin-bottom: 32px;
  h2 {
    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #854632;
    margin-bottom: 24px;
  }
  ol {
    list-style: auto;
    /* background-color: #909090; */
    padding-left: 20px;
    margin-left: 8px;
    li {
      font-family: "Outfit";
      font-style: normal;
      /* font-weight: 700; */
      font-size: 16px;
      line-height: 150%;
      color: #5f564d;
      padding-left: 4px;
    }
    li::marker {
      color: #854632;
    }
    span {
      font-weight: 700;
    }
  }
}

.fifth {
  h2 {
    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #854632;
    margin-bottom: 24px;
  }
  p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5f564d;
    margin-bottom: 24px;
  }
}

table {
  /* border: 1px solid red; */
  border-collapse: collapse;
  width: 100%;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #e3ddd7;
  padding-bottom: 12px;
}
tr:not(:first-child) td {
  padding-top: 12px;
}

tr td:first-child {
  padding-left: 32px;
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
}
tr td:last-child {
  padding-left: 16px;
  padding-right: 32px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #854632;
}
